.header{
	background-color: gray;
}
.login{
	display: inline-block;
	padding: 10px;
	color: white;
}
.date{
	padding: 10px;
	font-size: 10px;
}

.footer{
	background-color: gray;
}
	
.hoge{
	display: inline-block;
	padding: 10px;
	color: white;
}

.text{
	padding-top: 50px;
	padding-bottom: 50px;
}
	
