.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}

.wrapper{
    width: 400px;
    height: 450px;
}

.header{
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.header-inner{
    float: right;
    width: 160px;
    height: 60px;
    margin: 20px;
    background-color: white;
    
}

.header-inner_box{
    float: right;
    width: 40px;
    height: 40px;
    margin: 10px 10px 10px 0;
    background-color: #a9004b;
    
}



/*.main{
    width: 400px;
    height: 100px;
    background-color: blue;
}*/

.left{
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}

.right{
    width: 250px;
    height: 250px;
    background-color: #8c2727;
    float: right;
}

.right-inner{
    width: 140px;
    height: 40px;
    margin-bottom: 10px;
    margin-left: 40px;
    border: solid 5px white;
    background-color: #ff863f;
    
}

.right-inner:first-child{
    margin-top: 40px;

}

.footer{
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}

@media screen and (max-width: 479px) {

    .header {
        width: 200px;
        height: 200px;
    }

    .header-inner{
        float: right;
        width: 60px;
        height: 160px;
        margin: 20px;
        margin-right: 70px;
        
    }
    
    .header-inner_box{
        float: right;
        width: 40px;
        height: 40px;
        margin: 10px 10px 0px 10px;
        
    }

    .left {
        float: none;
        width: 200px;
        height: 100px;
    }
    

    .right {
        width: 200px;
        float: none;
        height: 210px;
    }

    .right-inner{
        float: left;
        margin-left: 30px; 
    }

    .right-inner:first-child{
        margin-top: 20px;
    }

    .footer {
        width: 200px;
    }

}
